<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page!</title>
</head>
<link rel="stylesheet" type="text/css" href="css/style.css" />

<body>
<header>
    <b>Flights!</b>
</header>

<main>
    <table class="styled-table">
        <thead>
        <tr>
            <th>Destination</th>
            <th>Time</th>
            <th>File</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Moscow</td>
            <td>12 p.m.</td>
            <td></td>
        </tr>
        <tr>
            <td>Madrid</td>
            <td>3 p.m.</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</main>

<footer>
    footer
</footer>

</body>
</html>